# Base vectorielle générée localement (voir README pour la régénérer)
chroma_db/

# Données sources et dérivées , sauf exceptions (Ground truth : qui se trouve dans le dossier fichiers JSON, la base de données finale et l'échantillon)
data/*
!data/data_finale.csv
!data/echantillon.csv
!data/fichiers json/
data/fichiers json/*
!data/fichiers json/GROUND_TRUTH_final.json

# Python
__pycache__/
*.pyc

# Environnements virtuels
.venv/
venv/

# VS Code
.vscode/
